*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #FF6900;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.contLinkHeadFoot{
    height: 1.5rem;
    /* debug */
    background-color: yellow;
    border: 1px solid black;
}

.contLinkHeadFoot.laterale{
    width: 15%;
}

.contLinkHeadFoot.centrale{
    width: 40%;
}

main{
    width: 70%;
    padding-top: 7rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    /* debug */
    background-color: red;
    
}


main .rowContFoto{
    /* debug */
    background-color: blue;
    width: calc((100% - 27px)/3);
    height: 38rem;
    
    border: 1px solid black;
}

footer{
    background-color: black;
    color: white;
    height: 6rem;
    width: 100%;
    margin-top: 2rem;
}